<div class="dynamic-table-wrapper">
  <h3 *ngIf="tableTitle" class="table-section-title direction-rtl">
    {{ tableTitle }}
    <span *ngIf="dataSource && dataSource.data.length > 0"> ({{ dataSource.data.length }} مورد)</span>
  </h3>

  <div *ngIf="isLoading" class="loading-shade">
    <mat-spinner diameter="50"></mat-spinner>
    <p>در حال بارگذاری اطلاعات...</p>
  </div>

  <div class="mat-elevation-z2 table-container direction-rtl">
    <table mat-table [dataSource]="dataSource" class="lux-table">

      <!-- ستون‌های داینامیک -->
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef" [sticky]="column.isSticky"
        [stickyEnd]="column.isStickyEnd">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="getCellClass(column, element)">
          <span [innerHTML]="getCellHtml(column, element)"></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" [stickyEnd]="true" *ngIf="actionsTemplate">
        <th mat-header-cell *matHeaderCellDef> عملیات </th>
        <td mat-cell *matCellDef="let element" class="action-cell">
          <ng-container *ngTemplateOutlet="actionsTemplate; context: { $implicit: element }">
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>

      <!-- ردیف برای زمانی که داده‌ای وجود ندارد -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          داده‌ای برای نمایش وجود ندارد.
        </td>
      </tr>
    </table>
  </div>

  <div
  class="mt-4 flex items-center justify-between bg-white px-4 py-2 rounded-lg shadow-md"
>
  <!-- اطلاعات صفحه و تعداد کل آیتم‌ها -->
  <div
    class="text-sm text-gray-600"
    *ngIf="totalItems > 0"
  >
    نمایش
    <span class="font-semibold">{{ currentPage * pageSize + 1 }}</span>
    تا
    <span class="font-semibold">{{
      (currentPage + 1) * pageSize > totalItems
        ? totalItems
        : (currentPage + 1) * pageSize
    }}</span>
    از
    <span class="font-semibold">{{ totalItems }}</span>
  </div>

  <!-- خود کامپوننت mat-paginator با کلاس‌های سفارشی -->
  <mat-paginator
    *ngIf="showPaginator && !isLoading && totalItems > 0"
    [length]="totalItems"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="انتخاب صفحه"
    class="custom-paginator flex items-center"
  >
  </mat-paginator>
</div>
</div>