<mat-toolbar class="app-header">
  <div class="header-content">
    <nav class="nav-links-container">
      <a *ngFor="let link of navLinks"
         mat-button
         [routerLink]="link.path"
         routerLinkActive="active-nav-link">
        <mat-icon>{{ link.icon }}</mat-icon>
        <span>{{ link.label }}</span>
      </a>
    </nav>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="منوی کاربر">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="menu-user-name">{{ userName() }}</div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>خروج</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
